In [34]:
import numpy as np 
import pandas as pd 
import geopandas as gpd 
import matplotlib.pyplot as plt 
from shapely.geometry import Point
import seaborn as sns
from plotnine import *
from pysal.explore import esda
from pysal.lib import weights 
from matplotlib import colors
from matplotlib_scalebar.scalebar import ScaleBar
%matplotlib inline 
%config InlineBackend.figure_format='retina'
# set mamp general general aspect 
plt.rcParams['figure.dpi'] = 150
# set figures path 
Fig = 'Figures/'

C:\Users\Mohamed\miniconda3\lib\site-packages\pysal\explore\segregation\network\network.py:15: UserWarning: You need pandana and urbanaccess to work with segregation's network module
You can install them with  `pip install urbanaccess pandana` or `conda install -c udst pandana urbanaccess`
C:\Users\Mohamed\miniconda3\lib\site-packages\pysal\model\spvcm\abstracts.py:10: UserWarning: The `dill` module is required to use the sqlite backend fully.

In [35]:
import pandas as pd
import geopandas as gpd
import numpy as np
import os
from functools import reduce

In [29]:
pop = pd.read_excel('Data/Population.xls', skiprows = 10)[['GEO/TIME', '2019', '2020']]
pop.columns = ['GEO/TIME', '2019_POP', '2020_POP']

neet = pd.read_excel('Data/NEET.xls', skiprows = 12)[['GEO/TIME', '2019', '2020']]
neet.columns = ['GEO/TIME', '2019_NEET', '2020_NEET']

edu = pd.read_excel('Data/Population by education attainment.xls', skiprows = 11)[['GEO/TIME', '2019', '2020']]
edu.columns = ['GEO/TIME', '2019_EDU', '2020_EDU']

unem = pd.read_excel('Data/Unemployment.xls', skiprows = 11)[['GEO/TIME', '2019', '2020']]
unem.columns = ['GEO/TIME', '2019_UNEM', '2020_UNEM']

youth_unem = pd.read_excel('Data/Youth unemployment.xls', skiprows = 11)[['GEO/TIME', '2019', '2020']]
youth_unem.columns = ['GEO/TIME', '2019_YOUTH', '2020_YOUTH']

emp = pd.read_excel('Data/Employment.xls', skiprows = 10)[['GEO/TIME', '2019', '2020']]
emp.columns = ['GEO/TIME', '2019_EMP', '2020_EMP']

In [30]:
# initiate a list 
indicators = [pop, neet, edu, unem, youth_unem, emp]

In [31]:
indicators

[                                              GEO/TIME   2019_POP   2020_POP
 0    EU27_2020 - European Union - 27 countries (fro...  446446444  447319916
 1     EU28 - European Union - 28 countries (2013-2020)  513093556          :
 2    EU27_2007 - European Union - 27 countries (200...  509017310          :
 3                                         BE - Belgium   11455519   11522440
 4    BE1 - Région de Bruxelles-Capitale/Brussels Ho...    1215290    1223364
 ..                                                 ...        ...        ...
 502                   TRB2 - Van, Mus, Bitlis, Hakkari    2167642    2174672
 503                            TRC - Güneydogu Anadolu    8847980    8975618
 504                  TRC1 - Gaziantep, Adiyaman, Kilis    2795617    2838319
 505                       TRC2 - Sanliurfa, Diyarbakir    3768205    3829967
 506               TRC3 - Mardin, Batman, Sirnak, Siirt    2284158    2307332

 [507 rows x 3 columns],
                                               GEO/TIME  2019_NEET  2020_NEET
 0    EU27_2020 - European Union - 27 countries (fro...       12.6       13.7
 1     EU28 - European Union - 28 countries (2013-2020)       12.5       12.5
 2     EU15 - European Union - 15 countries (1995-2004)       12.3       12.3
 3         EA19 - Euro area - 19 countries  (from 2015)       12.7       13.9
 4                                         BE - Belgium       11.8       12.0
 ..                                                 ...        ...        ...
 494                   TRB2 - Van, Mus, Bitlis, Hakkari       44.1       44.6
 495                            TRC - Güneydogu Anadolu       42.5       45.9
 496                  TRC1 - Gaziantep, Adiyaman, Kilis       37.9       35.8
 497                       TRC2 - Sanliurfa, Diyarbakir       44.8       51.2
 498               TRC3 - Mardin, Batman, Sirnak, Siirt       43.4       47.2

 [499 rows x 3 columns],
                                               GEO/TIME  2019_EDU  2020_EDU
 0    EU27_2020 - European Union - 27 countries (fro...  285060.3  284335.1
 1     EU28 - European Union - 28 countries (2013-2020)  326817.1  326817.1
 2     EU15 - European Union - 15 countries (1995-2004)  260290.8  260290.8
 3         EA19 - Euro area - 19 countries  (from 2015)  218267.3  218045.5
 4                                         BE - Belgium    7306.9    7325.7
 ..                                                 ...       ...       ...
 495                   TRB2 - Van, Mus, Bitlis, Hakkari    1267.9    1314.5
 496                            TRC - Güneydogu Anadolu    5237.1    5347.2
 497                  TRC1 - Gaziantep, Adiyaman, Kilis    1695.1    1729.8
 498                       TRC2 - Sanliurfa, Diyarbakir    2204.6    2239.0
 499               TRC3 - Mardin, Batman, Sirnak, Siirt    1337.3    1378.4

 [500 rows x 3 columns],
                                               GEO/TIME  2019_UNEM  2020_UNEM
 0    EU27_2020 - European Union - 27 countries (fro...    14389.7    15013.8
 1     EU28 - European Union - 28 countries (2013-2020)    15659.0    15659.0
 2     EU15 - European Union - 15 countries (1995-2004)    13788.0    13788.0
 3         EA19 - Euro area - 19 countries  (from 2015)    12419.7    12758.8
 4                                         BE - Belgium      273.7      282.4
 ..                                                 ...        ...        ...
 495                   TRB2 - Van, Mus, Bitlis, Hakkari      179.6      159.0
 496                            TRC - Güneydogu Anadolu      581.4      495.3
 497                  TRC1 - Gaziantep, Adiyaman, Kilis      134.5      117.1
 498                       TRC2 - Sanliurfa, Diyarbakir      255.0      183.9
 499               TRC3 - Mardin, Batman, Sirnak, Siirt      191.9      194.3

 [500 rows x 3 columns],
                                               GEO/TIME  2019_YOUTH  2020_YOUTH
 0    EU27_2020 - European Union - 27 countries (fro...      2756.4      2947.2
 1     EU28 - European Union - 28 countries (2013-2020)      3220.6      3220.6
 2     EU15 - European Union - 15 countries (1995-2004)      2835.8      2835.8
 3         EA19 - Euro area - 19 countries  (from 2015)      2267.2      2419.1
 4                                         BE - Belgium        57.0        56.6
 ..                                                 ...         ...         ...
 495                   TRB2 - Van, Mus, Bitlis, Hakkari        58.4        55.7
 496                            TRC - Güneydogu Anadolu       212.6       169.6
 497                  TRC1 - Gaziantep, Adiyaman, Kilis        41.6        33.5
 498                       TRC2 - Sanliurfa, Diyarbakir        92.2        55.6
 499               TRC3 - Mardin, Batman, Sirnak, Siirt        78.8        80.5

 [500 rows x 3 columns],
                                               GEO/TIME  2019_EMP  2020_EMP
 0    EU27_2020 - European Union - 27 countries (fro...  194900.4  192237.8
 1     EU28 - European Union - 28 countries (2013-2020)  226282.6  226282.6
 2     EU15 - European Union - 15 countries (1995-2004)  180412.6  180412.6
 3         EA19 - Euro area - 19 countries  (from 2015)  148307.9  146184.1
 4                                         BE - Belgium    4770.7    4740.6
 ..                                                 ...       ...       ...
 495                   TRB2 - Van, Mus, Bitlis, Hakkari     506.0     505.2
 496                            TRC - Güneydogu Anadolu    1998.8    1883.9
 497                  TRC1 - Gaziantep, Adiyaman, Kilis     738.7     772.5
 498                       TRC2 - Sanliurfa, Diyarbakir     832.5     727.0
 499               TRC3 - Mardin, Batman, Sirnak, Siirt     427.6     384.3

 [500 rows x 3 columns]]

In [32]:
# add the nuts_id and nuts_name collumns
for i, v in enumerate(indicators):
    indicators[i]['NUTS_ID'] = indicators[i]['GEO/TIME'].apply(lambda x: x.split('-')[0].strip())
    indicators[i]['NUTS_NAME'] = indicators[i]['GEO/TIME'].apply(lambda x: x.split('-')[1].strip())
    indicators[i].drop('GEO/TIME', axis =1, inplace = True)
# drop the repeated nuts_name 
for num in range(1, 6):
    indicators[num].drop('NUTS_NAME', axis = 1, inplace = True)

In [33]:
indicators

[      2019_POP   2020_POP    NUTS_ID                      NUTS_NAME
 0    446446444  447319916  EU27_2020                 European Union
 1    513093556          :       EU28                 European Union
 2    509017310          :  EU27_2007                 European Union
 3     11455519   11522440         BE                        Belgium
 4      1215290    1223364        BE1            Région de Bruxelles
 ..         ...        ...        ...                            ...
 502    2167642    2174672       TRB2      Van, Mus, Bitlis, Hakkari
 503    8847980    8975618        TRC              Güneydogu Anadolu
 504    2795617    2838319       TRC1     Gaziantep, Adiyaman, Kilis
 505    3768205    3829967       TRC2          Sanliurfa, Diyarbakir
 506    2284158    2307332       TRC3  Mardin, Batman, Sirnak, Siirt

 [507 rows x 4 columns],
      2019_NEET  2020_NEET    NUTS_ID
 0         12.6       13.7  EU27_2020
 1         12.5       12.5       EU28
 2         12.3       12.3       EU15
 3         12.7       13.9       EA19
 4         11.8       12.0         BE
 ..         ...        ...        ...
 494       44.1       44.6       TRB2
 495       42.5       45.9        TRC
 496       37.9       35.8       TRC1
 497       44.8       51.2       TRC2
 498       43.4       47.2       TRC3

 [499 rows x 3 columns],
      2019_EDU  2020_EDU    NUTS_ID
 0    285060.3  284335.1  EU27_2020
 1    326817.1  326817.1       EU28
 2    260290.8  260290.8       EU15
 3    218267.3  218045.5       EA19
 4      7306.9    7325.7         BE
 ..        ...       ...        ...
 495    1267.9    1314.5       TRB2
 496    5237.1    5347.2        TRC
 497    1695.1    1729.8       TRC1
 498    2204.6    2239.0       TRC2
 499    1337.3    1378.4       TRC3

 [500 rows x 3 columns],
      2019_UNEM  2020_UNEM    NUTS_ID
 0      14389.7    15013.8  EU27_2020
 1      15659.0    15659.0       EU28
 2      13788.0    13788.0       EU15
 3      12419.7    12758.8       EA19
 4        273.7      282.4         BE
 ..         ...        ...        ...
 495      179.6      159.0       TRB2
 496      581.4      495.3        TRC
 497      134.5      117.1       TRC1
 498      255.0      183.9       TRC2
 499      191.9      194.3       TRC3

 [500 rows x 3 columns],
      2019_YOUTH  2020_YOUTH    NUTS_ID
 0        2756.4      2947.2  EU27_2020
 1        3220.6      3220.6       EU28
 2        2835.8      2835.8       EU15
 3        2267.2      2419.1       EA19
 4          57.0        56.6         BE
 ..          ...         ...        ...
 495        58.4        55.7       TRB2
 496       212.6       169.6        TRC
 497        41.6        33.5       TRC1
 498        92.2        55.6       TRC2
 499        78.8        80.5       TRC3

 [500 rows x 3 columns],
      2019_EMP  2020_EMP    NUTS_ID
 0    194900.4  192237.8  EU27_2020
 1    226282.6  226282.6       EU28
 2    180412.6  180412.6       EU15
 3    148307.9  146184.1       EA19
 4      4770.7    4740.6         BE
 ..        ...       ...        ...
 495     506.0     505.2       TRB2
 496    1998.8    1883.9        TRC
 497     738.7     772.5       TRC1
 498     832.5     727.0       TRC2
 499     427.6     384.3       TRC3

 [500 rows x 3 columns]]

In [18]:
ds = reduce(lambda  left,right: pd.merge(left,right,on=['NUTS_ID'],
                                            how='outer'), indicators)

In [21]:
## read shape file 

shape = gpd.read_file('../../02_Data/01_GIS/02_Full file/NUTS_COVID.shp')[['NUTS_ID', 'geometry']]

In [23]:
ds = gpd.GeoDataFrame(pd.merge(ds, shape, on = 'NUTS_ID'))

### Compute the "Ecological Index"

In [27]:
from sklearn.preprocessing import PCA

ImportError: cannot import name 'PCA' from 'sklearn.preprocessing' (C:\Users\Mohamed\miniconda3\lib\site-packages\sklearn\preprocessing\__init__.py)