In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np
import os

In [88]:
# read the index 
pop = pd.read_excel('Data/Population.xls', skiprows = 10)
neet = pd.read_excel('Data/NEET.xls', skiprows = 12)
edu = pd.read_excel('Data/Population by education attainment.xls', skiprows = 11)
unem = pd.read_excel('Data/Unemployment.xls', skiprows = 11)
youth_unem = pd.read_excel('Data/Youth unemployment.xls', skiprows = 11)
emp = pd.read_excel('Data/Employment.xls', skiprows = 11)

In [89]:
indicators = [pop, neet, edu, unem, youth_unem, emp]

In [65]:
shape = gpd.read_file('../../02_Data/01_GIS/02_Full file/NUTS_COVID.shp')[['NUTS_ID', 'geometry']]

In [52]:
from functools import reduce 

df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['GEO/TIME'],
                                            how='outer'), out)

C:\Users\MHACHA~1\AppData\Local\Temp/ipykernel_10484/976554216.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'2020_x', '2019_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['GEO/TIME'],

In [54]:
ds = pd.merge(index, df_merged, left_on = "NAME", right_on = "GEO/TIME")

In [58]:
ds.columns = ['NUTS_ID', 'NAME', 'GEO/TIME', '2019_one', '2020_one', '2019_two', '2020_two',
       '2019_three', '2020_three', '2019_four', '2020_four']

In [69]:
for i in ds.filter(like = '2019').columns: 
    ds[i].replace(':', 0, inplace = True)
    
for i in ds.filter(like = '2020').columns: 
    ds[i].replace(':', 0, inplace = True)

In [86]:
ds.sample(10)

,NUTS_ID,GEO/TIME,2019_one,2020_one,2019_two,2020_two,2019_three,2020_three,2019_four,2020_four
762,FRM0,Corse,189.8,192.1,127.6,129.5,8.7,11.7,6.4,0.0
1765,TR4,Dogu Marmara,5452.9,5483.1,2780.2,2729.4,399.6,342.6,360.5,312.7
1494,FI20,Åland,17.4,18.1,14.2,14.7,0.0,0.0,0.0,0.0
1160,HU21,Közép-Dunántúl,694.4,692.3,498.4,496.0,10.2,14.4,35.6,30.7
817,RO21,Nord-Est,2052.0,2030.5,5058.2,4953.7,302.8,304.5,152.3,148.3
1383,PT11,Norte,2374.5,2372.9,1638.1,1628.2,122.4,125.4,116.9,107.3
1578,UKE,Yorkshire and The Humber,3410.2,0.0,2480.7,0.0,119.6,0.0,317.5,0.0
473,EL63,Dytiki Ellada,421.3,418.2,209.4,211.6,68.2,59.7,7.1,7.0
1574,UKD3,Greater Manchester,1817.6,0.0,1325.6,0.0,72.8,0.0,154.2,0.0
791,ITC4,Lombardia,6395.1,6412.6,4372.3,4288.6,267.0,233.2,230.2,207.0