In [96]:
import pandas as pd
import geopandas as gpd
import numpy as np
import os
from functools import reduce

In [172]:
pop = pd.read_excel('Data/Population.xls', skiprows = 10)[['GEO/TIME', '2019', '2020']]
neet = pd.read_excel('Data/NEET.xls', skiprows = 12)[['GEO/TIME', '2019', '2020']]
edu = pd.read_excel('Data/Population by education attainment.xls', skiprows = 11)[['GEO/TIME', '2019', '2020']]
unem = pd.read_excel('Data/Unemployment.xls', skiprows = 11)[['GEO/TIME', '2019', '2020']]
youth_unem = pd.read_excel('Data/Youth unemployment.xls', skiprows = 11)[['GEO/TIME', '2019', '2020']]
emp = pd.read_excel('Data/Employment.xls', skiprows = 10)[['GEO/TIME', '2019', '2020']]

In [173]:
# initiate a list 
indicators = [pop, neet, edu, unem, youth_unem, emp]

In [174]:
# add the nuts_id and nuts_name collumns
for i, v in enumerate(indicators):
    indicators[i]['NUTS_ID'] = indicators[i]['GEO/TIME'].apply(lambda x: x.split('-')[0].strip())
    indicators[i]['NUTS_NAME'] = indicators[i]['GEO/TIME'].apply(lambda x: x.split('-')[1].strip())
    indicators[i].drop('GEO/TIME', axis =1, inplace = True)
# drop the repeated nuts_name 
for num in range(1, 6):
    indicators[num].drop('NUTS_NAME', axis = 1, inplace = True)

In [178]:
for i, name in enumerate(['Pop', 'NEET', 'Edu', 'Unem', 'Youth_emp', 'Emp']):
    indicators[i].filter(like = '2019 | 2020') = indicators[i].add_suffix(name)

SyntaxError: cannot assign to function call (Temp/ipykernel_6308/2946487013.py, line 2)

In [184]:
indicators[i].filter(like = '2019')

         2019
0    194900.4
1    226282.6
2    180412.6
3    148307.9
4      4770.7
..        ...
495     506.0
496    1998.8
497     738.7
498     832.5
499     427.6

[500 rows x 1 columns]

In [176]:
indicators

[          2019       2020    NUTS_ID                      NUTS_NAME
 0    446446444  447319916  EU27_2020                 European Union
 1    513093556          :       EU28                 European Union
 2    509017310          :  EU27_2007                 European Union
 3     11455519   11522440         BE                        Belgium
 4      1215290    1223364        BE1            Région de Bruxelles
 ..         ...        ...        ...                            ...
 502    2167642    2174672       TRB2      Van, Mus, Bitlis, Hakkari
 503    8847980    8975618        TRC              Güneydogu Anadolu
 504    2795617    2838319       TRC1     Gaziantep, Adiyaman, Kilis
 505    3768205    3829967       TRC2          Sanliurfa, Diyarbakir
 506    2284158    2307332       TRC3  Mardin, Batman, Sirnak, Siirt

 [507 rows x 4 columns],
      2019  2020    NUTS_ID
 0    12.6  13.7  EU27_2020
 1    12.5  12.5       EU28
 2    12.3  12.3       EU15
 3    12.7  13.9       EA19
 4    11.8  12.0         BE
 ..    ...   ...        ...
 494  44.1  44.6       TRB2
 495  42.5  45.9        TRC
 496  37.9  35.8       TRC1
 497  44.8  51.2       TRC2
 498  43.4  47.2       TRC3

 [499 rows x 3 columns],
          2019      2020    NUTS_ID
 0    285060.3  284335.1  EU27_2020
 1    326817.1  326817.1       EU28
 2    260290.8  260290.8       EU15
 3    218267.3  218045.5       EA19
 4      7306.9    7325.7         BE
 ..        ...       ...        ...
 495    1267.9    1314.5       TRB2
 496    5237.1    5347.2        TRC
 497    1695.1    1729.8       TRC1
 498    2204.6    2239.0       TRC2
 499    1337.3    1378.4       TRC3

 [500 rows x 3 columns],
         2019     2020    NUTS_ID
 0    14389.7  15013.8  EU27_2020
 1    15659.0  15659.0       EU28
 2    13788.0  13788.0       EU15
 3    12419.7  12758.8       EA19
 4      273.7    282.4         BE
 ..       ...      ...        ...
 495    179.6    159.0       TRB2
 496    581.4    495.3        TRC
 497    134.5    117.1       TRC1
 498    255.0    183.9       TRC2
 499    191.9    194.3       TRC3

 [500 rows x 3 columns],
        2019    2020    NUTS_ID
 0    2756.4  2947.2  EU27_2020
 1    3220.6  3220.6       EU28
 2    2835.8  2835.8       EU15
 3    2267.2  2419.1       EA19
 4      57.0    56.6         BE
 ..      ...     ...        ...
 495    58.4    55.7       TRB2
 496   212.6   169.6        TRC
 497    41.6    33.5       TRC1
 498    92.2    55.6       TRC2
 499    78.8    80.5       TRC3

 [500 rows x 3 columns],
          2019      2020    NUTS_ID
 0    194900.4  192237.8  EU27_2020
 1    226282.6  226282.6       EU28
 2    180412.6  180412.6       EU15
 3    148307.9  146184.1       EA19
 4      4770.7    4740.6         BE
 ..        ...       ...        ...
 495     506.0     505.2       TRB2
 496    1998.8    1883.9        TRC
 497     738.7     772.5       TRC1
 498     832.5     727.0       TRC2
 499     427.6     384.3       TRC3

 [500 rows x 3 columns]]

In [149]:
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['NUTS_ID'],
                                            how='outer'), indicators)

C:\Users\Mohamed\AppData\Local\Temp/ipykernel_6308/3125580810.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'2020_x', '2019_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['NUTS_ID'],

In [150]:
df_merged.tail(20)

,2019_x,2020_x,NUTS_ID,NUTS_NAME,2019_y,2020_y,2019_x,2020_x,2019_y,2020_y,2019_x,2020_x,2019_y,2020_y
499,1124898.0,1118370,TRA2,"Agri, Kars, Igdir, Ardahan",40.6,44.1,653.3,673.000000,32.6,37.900,11.40,12.500,297.4,281.7
500,3929719.0,3930407,TRB,Ortadogu Anadolu,37.7,40.1,2395.9,2457.200000,245.4,223.500,75.30,73.900,1074.2,1028.9
501,1762077.0,1755735,TRB1,"Malatya, Elazig, Bingöl, Tunceli",27.9,32.8,1128.0,1142.700000,65.7,64.500,16.90,18.200,568.2,523.7
502,2167642.0,2174672,TRB2,"Van, Mus, Bitlis, Hakkari",44.1,44.6,1267.9,1314.500000,179.6,159.000,58.40,55.700,506.0,505.2
503,8847980.0,8975618,TRC,Güneydogu Anadolu,42.5,45.9,5237.1,5347.200000,581.4,495.300,212.60,169.600,1998.8,1883.9
504,2795617.0,2838319,TRC1,"Gaziantep, Adiyaman, Kilis",37.9,35.8,1695.1,1729.800000,134.5,117.100,41.60,33.500,738.7,772.5
505,3768205.0,3829967,TRC2,"Sanliurfa, Diyarbakir",44.8,51.2,2204.6,2239.000000,255.0,183.900,92.20,55.600,832.5,727.0
506,2284158.0,2307332,TRC3,"Mardin, Batman, Sirnak, Siirt",43.4,47.2,1337.3,1378.400000,191.9,194.300,78.80,80.500,427.6,384.3
507,NaN,NaN,EU15,NaN,12.3,12.3,260290.8,260290.800000,13788.0,13788.000,2835.80,2835.800,180412.6,180412.6
508,NaN,NaN,EA19,NaN,12.7,13.9,218267.3,218045.500000,12419.7,12758.800,2267.20,2419.100,148307.9,146184.1
509,NaN,NaN,IE01,NaN,0.0,0.0,0.0,0.000000,0.0,0.000,0.00,0.000,0.0,0.0
510,NaN,NaN,IE02,NaN,0.0,0.0,0.0,0.000000,0.0,0.000,0.00,0.000,0.0,0.0
511,NaN,NaN,LT00,NaN,0.0,0.0,2006.5,1994.408867,92.0,126.000,0.00,0.000,1324.3,1297.6
512,NaN,NaN,HU10,NaN,0.0,0.0,1975.1,1994.353233,0.0,0.000,0.00,0.000,1433.7,1438.0
513,NaN,NaN,SI01,NaN,0.0,0.0,0.0,0.000000,0.0,0.000,0.00,0.000,502.6,499.4
514,NaN,NaN,SI02,NaN,0.0,0.0,0.0,0.000000,0.0,0.000,0.00,0.000,467.1,465.3
515,NaN,NaN,UKI1,NaN,0.0,0.0,0.0,0.000000,0.0,0.000,14.54,15.994,0.0,0.0
516,NaN,NaN,UKI2,NaN,0.0,0.0,0.0,0.000000,0.0,0.000,14.54,15.994,0.0,0.0
517,NaN,NaN,UKM2,NaN,0.0,0.0,0.0,0.000000,79.2,87.912,35.40,38.940,0.0,0.0
518,NaN,NaN,UKM3,NaN,0.0,0.0,0.0,0.000000,99.9,110.889,43.40,47.740,0.0,0.0

In [123]:
shape = gpd.read_file('../../02_Data/01_GIS/02_Full file/NUTS_COVID.shp')[['NUTS_ID', 'geometry']]

In [126]:
ds = gpd.GeoDataFrame(pd.merge(df_merged, shape, on = 'NUTS_ID'))