In [1]:
import pandas as pd 
import os

In [17]:
files = [ file for file in os.listdir() if file.endswith('.xlsx')]

df = []
for file in files: 
    read = pd.read_excel(file, index_col = 'Län').iloc[:,:1]
    df.append(read)

In [28]:
ds = pd.concat(df, axis =1)
ds.shape

(312, 35)

In [31]:
df = pd.concat([ds.filter(like = '2019').sum(axis =1), ds.filter(like = '2020').sum(axis =1), ds.filter(like = '2021').sum(axis =1)], axis =1)
df.columns = ['2019', '2020', '2021']
df.head(2)

                    2019      2020      2021
Län
Riket           0.940026  1.510934  1.143404
Stockholms län  0.663952  1.240880  0.940979

In [34]:
df.to_excel('Unem-final.xlsx')