# Dataset creation for: Explanatory varibales

In [13]:
# import modules 
import geopandas as gdp 
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 

# set var path 
path = 'Input/'

## 1. Read the intial data

In [14]:
# read data 
X = pd.read_excel(path + 'Xis.xlsx', sheet_name = 'Data').drop(['COVID19_CCONF', 'COVID_Cases_R', 'COVID19_TESTS', 'COVID19_D'], axis = 1)
X.head(3)

,COUNTRY,NUTS2,NUTS3,CODE,CODE_NUTS2,CODE_NUTS3,POPULATION,POP_DENS,POP>=60,%POP>=60,...,LD_SEVEIRTY_W34,LD_SEVEIRTY_W35,NO2_avg,WIND_Avg,Temp_mean_over12yrs,NTL_avg,PRESSURE_avg,PRECIPITATION,SOLAR_RAD_avg,LAI_avg
0,Austria,-,-,AT,-,-,8971664,107.1,2239965.0,24.967108,...,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Austria,Burgenland,-,AT,AT11,-,297048,NaN,87107.0,29.324217,...,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Austria,Burgenland,Mittelburgenland,AT,AT11,AT111,37899,54.0,12030.0,31.742262,...,0.0,0,2.630771,3.000289,9.207416,8.241319,0.923921,57.232225,11746.180873,1.790256

In [15]:
X.columns = ['COUNTRY', 'NUTS2', 'NUTS3', 'CODE', 'CODE_NUTS2', 'CODE_NUTS3',
       'POPULATION_2019', 'POP_DENS_2019', 'POP>=60_2019', '%POP>=60_2019', 'FEMEALES_2018', '%FEMEALS_2019',
       'POP 0-14_2019', 'POP 15-29_2019', 'POP 30-44_2019', 'POP 45-59_2019', 'POP_GROWTH_2019',
       'HOUSEHOLDS_2019', 'DWELLINGS_2019', 'SURFACE AREA_2019', 'UNEM_R_2018', 'D_MEDICALE_2018',
       'COPD %_2018', 'Respiratory dis mortality_2018', 'Smokers %_2018', 'Diabetes %_2018',
       'Diabetes mortality_2018', 'Cardiovascular dis mortality_2018',
       'BEDS_Intcare/reanim_2018', 'COVID_Mortality_R',
       'DURATION_LD (days)_2020', 'Lag_1stCase-LD (days)_2020', 'LD_SEVEIRTY_W1',
       'LD_SEVEIRTY_W2', 'LD_SEVEIRTY_W3', 'LD_SEVEIRTY_W4', 'LD_SEVEIRTY_W5',
       'LD_SEVEIRTY_W6', 'LD_SEVEIRTY_W7', 'LD_SEVEIRTY_W8', 'LD_SEVEIRTY_W9',
       'LD_SEVEIRTY_W10', 'LD_SEVEIRTY_W11', 'LD_SEVEIRTY_W12',
       'LD_SEVEIRTY_W13', 'LD_SEVEIRTY_W14', 'LD_SEVEIRTY_W15',
       'LD_SEVEIRTY_W16', 'LD_SEVEIRTY_W17', 'LD_SEVEIRTY_W18',
       'LD_SEVEIRTY_W19', 'LD_SEVEIRTY_W20', 'LD_SEVEIRTY_W21',
       'LD_SEVEIRTY_W22', 'LD_SEVEIRTY_W23', 'LD_SEVEIRTY_W24',
       'LD_SEVEIRTY_W25', 'LD_SEVEIRTY_W26', 'LD_SEVEIRTY_W27',
       'LD_SEVEIRTY_W28', 'LD_SEVEIRTY_W29', 'LD_SEVEIRTY_W30',
       'LD_SEVEIRTY_W31', 'LD_SEVEIRTY_W32', 'LD_SEVEIRTY_W33',
       'LD_SEVEIRTY_W34', 'LD_SEVEIRTY_W35', 'NO2_avg', 'WIND_Avg',
       'Temp_mean_over12yrs', 'NTL_avg_2019', 'PRESSURE_avg', 'PRECIPITATION',
       'SOLAR_RAD_avg', 'LAI_avg_2020']

In [16]:
X.columns

Index(['COUNTRY', 'NUTS2', 'NUTS3', 'CODE', 'CODE_NUTS2', 'CODE_NUTS3',
       'POPULATION_2019', 'POP_DENS_2019', 'POP>=60_2019', '%POP>=60_2019',
       'FEMEALES_2018', '%FEMEALS_2019', 'POP 0-14_2019', 'POP 15-29_2019',
       'POP 30-44_2019', 'POP 45-59_2019', 'POP_GROWTH_2019',
       'HOUSEHOLDS_2019', 'DWELLINGS_2019', 'SURFACE AREA_2019', 'UNEM_R_2018',
       'D_MEDICALE_2018', 'COPD %_2018', 'Respiratory dis mortality_2018',
       'Smokers %_2018', 'Diabetes %_2018', 'Diabetes mortality_2018',
       'Cardiovascular dis mortality_2018', 'BEDS_Intcare/reanim_2018',
       'COVID_Mortality_R', 'DURATION_LD (days)_2020',
       'Lag_1stCase-LD (days)_2020', 'LD_SEVEIRTY_W1', 'LD_SEVEIRTY_W2',
       'LD_SEVEIRTY_W3', 'LD_SEVEIRTY_W4', 'LD_SEVEIRTY_W5', 'LD_SEVEIRTY_W6',
       'LD_SEVEIRTY_W7', 'LD_SEVEIRTY_W8', 'LD_SEVEIRTY_W9', 'LD_SEVEIRTY_W10',
       'LD_SEVEIRTY_W11', 'LD_SEVEIRTY_W12', 'LD_SEVEIRTY_W13',
       'LD_SEVEIRTY_W14', 'LD_SEVEIRTY_W15', 'LD_SEVEIRTY_W16',
       'LD_SEVEIRTY_W17', 'LD_SEVEIRTY_W18', 'LD_SEVEIRTY_W19',
       'LD_SEVEIRTY_W20', 'LD_SEVEIRTY_W21', 'LD_SEVEIRTY_W22',
       'LD_SEVEIRTY_W23', 'LD_SEVEIRTY_W24', 'LD_SEVEIRTY_W25',
       'LD_SEVEIRTY_W26', 'LD_SEVEIRTY_W27', 'LD_SEVEIRTY_W28',
       'LD_SEVEIRTY_W29', 'LD_SEVEIRTY_W30', 'LD_SEVEIRTY_W31',
       'LD_SEVEIRTY_W32', 'LD_SEVEIRTY_W33', 'LD_SEVEIRTY_W34',
       'LD_SEVEIRTY_W35', 'NO2_avg', 'WIND_Avg', 'Temp_mean_over12yrs',
       'NTL_avg_2019', 'PRESSURE_avg', 'PRECIPITATION', 'SOLAR_RAD_avg',
       'LAI_avg_2020'],
      dtype='object')

## 2. Read complementary data

### 2.1 At risk of poverty

In [17]:
risk_poverty = pd.read_excel(path + 'At-risk-of-poverty rate by NUTS regions.xlsx', sheet_name = 'Sheet 1', skiprows = 8, nrows = 267)
risk_poverty =  pd.concat([risk_poverty.iloc[:,:2],risk_poverty.iloc[:,2:].iloc[:,::2]], axis = 1)
risk_poverty.columns = ['nuts_id', 'nuts_name', 'at risk of poverty_2016', 'at risk of poverty_2017', 'at risk of poverty_2018', 'at risk of poverty_2019', 'at risk of poverty_2020']

for col in risk_poverty.iloc[:, 2:].columns:
    risk_poverty[col] = risk_poverty[col].replace(':', np.nan)
risk_poverty

C:\Users\mhachaichi\Miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,nuts_id,nuts_name,at risk of poverty_2016,at risk of poverty_2017,at risk of poverty_2018,at risk of poverty_2019,at risk of poverty_2020
0,BE,Belgium,15.5,15.9,16.4,14.8,14.1
1,BE1,RÃ©gion de Bruxelles-Capitale/Brussels Hoofdste...,NaN,NaN,NaN,31.4,27.8
2,BE2,Vlaams Gewest,NaN,NaN,NaN,9.8,9.3
3,BE3,RÃ©gion wallonne,NaN,NaN,NaN,18.3,18.2
4,BG,Bulgaria,22.9,23.4,22.0,22.6,23.8
...,...,...,...,...,...,...,...
262,RS,Serbia,25.9,25.7,24.3,23.2,21.7
263,RS1,Srbija - sever,22.5,22.0,19.6,16.4,15.7
264,RS2,Srbija - jug,29.4,29.5,29.2,30.4,28.1
265,TR,Turkey,22.8,22.2,22.2,22.4,23.0
266,XK,Kosovo (under United Nations Security Council ...,NaN,NaN,27.9,NaN,NaN

### 2.2 GDP

In [18]:
gdp = pd.read_csv(path + 'Gross domestic product (GDP) at current market prices by NUTS 3 regions.csv').query('TIME_PERIOD == 2019')[['geo', 'OBS_VALUE']]
gdp.columns = ['nuts_id', 'GDP_2019']
gdp

      nuts_id  GDP_2019
9          AL  13644.67
19        AL0  13644.67
29       AL01   3142.06
39      AL011    411.05
49      AL012   1389.50
...       ...       ...
15925    TRC3   9653.76
15935   TRC31   3786.14
15945   TRC32   2222.47
15955   TRC33   2260.83
15965   TRC34   1384.32

[675 rows x 2 columns]

### 2.3 Household size

In [19]:
hh_size= pd.read_excel(path + 'Household size.xlsx').drop('year ', axis =1)
hh_size

       country nuts_id                   nuts_name  average household size
0      Austria     NaN                  Burgenland                    2.40
1      Austria     NaN          Eisenstadt (Stadt)                    2.10
2      Austria     NaN                Rust (Stadt)                    2.30
3      Austria     NaN         Eisenstadt-Umgebung                    2.40
4      Austria     NaN                     GÃ¼ssing                    2.50
..         ...     ...                         ...                     ...
326   Germany      NaN              Sachsen-Anhalt                    1.90
327   Germany      NaN                   ThÃ¼ringen                    1.81
328  Portugal      PT1                 Continente                     2.57
329  Portugal      PT2  RegiÃ£o AutÃ³noma dos AÃ§ores                    2.98
330  Portugal      PT3  RegiÃ£o AutÃ³noma da Madeira                    2.85

[331 rows x 4 columns]

In [20]:
hh_si = pd.read_excel(path + 'CFs data.xlsx', sheet_name = 'A6 Regional dataset')[['rcode', 'rname', 'nutslevel', 'hhsize']]
hh_si

           rcode           rname                    nutslevel          hhsize
0    NUTS2 code       NUTS2 name  NUTS level (NUTS1 or NUTS2)  Household size
1           AT33           Tirol                            2            2.31
2           AT31  Oberï¿½sterreich                            2            2.49
3           AT32        Salzburg                            2            2.34
4           AT22      Steiermark                            2            2.35
..           ...             ...                          ...             ...
179          NaN             NaN                          NaN             NaN
180          NaN             NaN                          NaN             NaN
181          NaN             NaN                          NaN             NaN
182          NaN             NaN                          NaN             NaN
183          NaN             NaN                          NaN             NaN

[184 rows x 4 columns]

### 2.4 People at risk of poverty or social exclusion by NUTS regions

In [21]:
social_exclusion = pd.read_excel(path + 'People at risk of poverty or social exclusion by NUTS regions.xlsx', sheet_name = 'Sheet 1', skiprows = 8, nrows = 267)
social_exclusion = pd.concat([social_exclusion.iloc[:,:2], social_exclusion.iloc[:,2:].iloc[:,::2]], axis = 1)
social_exclusion.columns = ['nuts_id', 'nuts_name', 'social_exclusion_2016', 'social_exclusion_2017', 'social_exclusion_2018', 'social_exclusion_2019', 'social_exclusion_2020']

for col in social_exclusion.iloc[:, 2:].columns:
    social_exclusion[col] = social_exclusion[col].replace(':', np.nan)
    
social_exclusion

C:\Users\mhachaichi\Miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,nuts_id,nuts_name,social_exclusion_2016,social_exclusion_2017,social_exclusion_2018,social_exclusion_2019,social_exclusion_2020
0,BE,Belgium,20.9,20.6,20.0,19.5,18.9
1,BE1,RÃ©gion de Bruxelles-Capitale/Brussels Hoofdste...,NaN,NaN,NaN,37.8,34.3
2,BE2,Vlaams Gewest,NaN,NaN,NaN,13.2,13.0
3,BE3,RÃ©gion wallonne,NaN,NaN,NaN,24.6,24.6
4,BG,Bulgaria,40.4,38.9,32.8,32.8,32.1
...,...,...,...,...,...,...,...
262,FI1C,EtelÃ¤-Suomi,16.3,15.3,17.5,16.3,16.3
263,FI1D,Pohjois- ja ItÃ¤-Suomi,19.1,17.5,20.0,19.0,19.3
264,SE,Sweden,18.3,17.7,18.0,18.8,17.9
265,SE1,Ã–stra Sverige,16.2,15.7,15.3,16.5,16.4
266,SE11,Stockholm,14.5,14.4,13.9,14.8,13.0

### 2.5 People living in households with very low work intensity by NUTS regions (population aged 0 to 59 years)

In [22]:
low_id = social_exclusion.iloc[:,:2]

low_work_intesnity = pd.read_excel(path + 'People living in households with very low work intensity by NUTS regions (population aged 0 to 59 years).xlsx', sheet_name = 'Sheet 1', skiprows = 8, nrows = 267)
low_work_intesnity = pd.concat([low_work_intesnity.iloc[:,0], low_work_intesnity.iloc[:,1:].iloc[:,::2]], axis = 1)
low_work_intesnity.columns = ['nuts_name', 'low_work_intesnity_2016', 'low_work_intesnity_2017', 'low_work_intesnity_2018', 'low_work_intesnity_2019', 'low_work_intesnity_2020']
low_work_intesnity = pd.merge(low_work_intesnity, low_id, on = 'nuts_name')

for col in low_work_intesnity.iloc[:, 1:].columns:
    low_work_intesnity[col] = low_work_intesnity[col].replace(':', np.nan)

low_work_intesnity

C:\Users\mhachaichi\Miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,nuts_name,low_work_intesnity_2016,low_work_intesnity_2017,low_work_intesnity_2018,low_work_intesnity_2019,low_work_intesnity_2020,nuts_id
0,Belgium,14.9,13.9,12.6,12.4,11.9,BE
1,RÃ©gion de Bruxelles-Capitale/Brussels Hoofdste...,NaN,NaN,NaN,24.1,20.9,BE1
2,Vlaams Gewest,NaN,NaN,NaN,7.4,7.6,BE2
3,RÃ©gion wallonne,NaN,NaN,NaN,17.1,16.4,BE3
4,Bulgaria,11.9,11.1,9.0,9.3,8.5,BG
...,...,...,...,...,...,...,...
232,EtelÃ¤-Suomi,11.4,11.3,11.6,10.2,11.0,FI1C
233,Pohjois- ja ItÃ¤-Suomi,11.7,10.7,12.1,12.0,11.4,FI1D
234,Sweden,8.5,8.8,9.1,8.6,8.5,SE
235,Ã–stra Sverige,6.7,6.9,7.3,7.5,8.2,SE1
236,Stockholm,5.0,6.1,5.7,5.1,6.0,SE11

### 2.6 Population density

In [23]:
area = pd.read_csv(path + 'Area by NUTS 3 region.csv').query('TIME_PERIOD == 2016')[['geo', 'OBS_VALUE']]
area.columns = ['nuts_id', 'area']
area
population = pd.read_excel(path + 'Population on 1 January by age group, sex and NUTS 3 region.xlsx', sheet_name = 'Sheet 1', skiprows = 10, nrows = 267)
population = pd.concat([population.iloc[:,:2], population.iloc[:,2:].iloc[:,::2]], axis = 1)

population.columns = ['nuts_id', 'nuts_name', 'population_2014', 'population_2015', 'population_2016', 'population_2017', 'population_2018', 'population_2019',
                     'population_2020']
population['population_2020'] = population['population_2020'].replace(':', np.nan)
pop_den = pd.merge(population, area, on = 'nuts_id')
pop_den['Population density_2019'] = pop_den.eval('population_2019 / area')
pop_den['Population density_2020'] = pop_den.eval('population_2020 / area')
pop_den = pop_den.loc[:, ['nuts_id', 'Population density_2019', 'Population density_2020']]
pop_den

C:\Users\mhachaichi\Miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

       nuts_id  Population density_2019  Population density_2020
0    EU27_2020               105.664621               105.871354
1         EU28               114.798666                      NaN
2           BE               373.557653               375.739907
3          BE1              7501.790123              7551.629630
4         BE10              7501.790123              7551.629630
..         ...                      ...                      ...
261      DE258               382.368078               383.885993
262      DE259               212.956250               213.490000
263      DE25A                79.213891                79.726914
264      DE25B               141.852514               141.618994
265      DE25C                97.212152                97.563337

[266 rows x 3 columns]

#### Merge the data

In [24]:
from functools import reduce

In [25]:
df = [risk_poverty, gdp, social_exclusion, low_work_intesnity, pop_den]

df_merged = reduce(lambda  left,right: pd.merge(left,right,on='nuts_id',
                                            how='outer'), df)
df_merged.drop('nuts_name_y', axis = 1, inplace = True)

In [26]:
df_merged[df_merged['social_exclusion_2020'].notnull()]

,nuts_id,nuts_name_x,at risk of poverty_2016,at risk of poverty_2017,at risk of poverty_2018,at risk of poverty_2019,at risk of poverty_2020,GDP_2019,social_exclusion_2016,social_exclusion_2017,...,social_exclusion_2019,social_exclusion_2020,nuts_name,low_work_intesnity_2016,low_work_intesnity_2017,low_work_intesnity_2018,low_work_intesnity_2019,low_work_intesnity_2020,Population density_2019,Population density_2020
0,BE,Belgium,15.5,15.9,16.4,14.8,14.1,476203.30,20.9,20.6,...,19.5,18.9,Belgium,14.9,13.9,12.6,12.4,11.9,373.557653,375.739907
1,BE1,RÃ©gion de Bruxelles-Capitale/Brussels Hoofdste...,NaN,NaN,NaN,31.4,27.8,86650.96,NaN,NaN,...,37.8,34.3,RÃ©gion de Bruxelles-Capitale/Brussels Hoofdste...,NaN,NaN,NaN,24.1,20.9,7501.790123,7551.629630
2,BE2,Vlaams Gewest,NaN,NaN,NaN,9.8,9.3,279227.25,NaN,NaN,...,13.2,13.0,Vlaams Gewest,NaN,NaN,NaN,7.4,7.6,485.052798,488.198029
3,BE3,RÃ©gion wallonne,NaN,NaN,NaN,18.3,18.2,110043.63,NaN,NaN,...,24.6,24.6,RÃ©gion wallonne,NaN,NaN,NaN,17.1,16.4,215.557291,216.508193
4,BG,Bulgaria,22.9,23.4,22.0,22.6,23.8,61239.54,40.4,38.9,...,32.8,32.1,Bulgaria,11.9,11.1,9.0,9.3,8.5,63.065687,62.628221
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,FI1C,EtelÃ¤-Suomi,11.3,10.7,12.9,12.6,12.5,44755.99,16.3,15.3,...,16.3,16.3,EtelÃ¤-Suomi,11.4,11.3,11.6,10.2,11.0,NaN,NaN
233,FI1D,Pohjois- ja ItÃ¤-Suomi,15.0,14.1,16.3,14.7,15.9,46441.87,19.1,17.5,...,19.0,19.3,Pohjois- ja ItÃ¤-Suomi,11.7,10.7,12.1,12.0,11.4,NaN,NaN
234,SE,Sweden,16.2,15.8,16.4,17.1,16.1,474468.18,18.3,17.7,...,18.8,17.9,Sweden,8.5,8.8,9.1,8.6,8.5,NaN,NaN
235,SE1,Ã–stra Sverige,14.1,13.7,13.4,14.5,14.4,219636.19,16.2,15.7,...,16.5,16.4,Ã–stra Sverige,6.7,6.9,7.3,7.5,8.2,NaN,NaN
236,SE11,Stockholm,12.0,12.4,12.1,13.1,10.8,152808.83,14.5,14.4,...,14.8,13.0,Stockholm,5.0,6.1,5.7,5.1,6.0,NaN,NaN

# Merge the data sets

In [29]:
X

,COUNTRY,NUTS2,NUTS3,CODE,CODE_NUTS2,CODE_NUTS3,POPULATION_2019,POP_DENS_2019,POP>=60_2019,%POP>=60_2019,...,LD_SEVEIRTY_W34,LD_SEVEIRTY_W35,NO2_avg,WIND_Avg,Temp_mean_over12yrs,NTL_avg_2019,PRESSURE_avg,PRECIPITATION,SOLAR_RAD_avg,LAI_avg_2020
0,Austria,-,-,AT,-,-,8971664,107.1,2239965.0,24.967108,...,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Austria,Burgenland,-,AT,AT11,-,297048,NaN,87107.0,29.324217,...,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Austria,Burgenland,Mittelburgenland,AT,AT11,AT111,37899,54.0,12030.0,31.742262,...,0.0,0,2.630771,3.000289,9.207416,8.241319,0.923921,57.232225,11746.180873,1.790256
3,Austria,Burgenland,Nordburgenland,AT,AT11,AT112,161164,90.0,44838.0,27.821350,...,0.0,0,2.630771,3.175656,10.078024,12.364236,0.964879,49.182485,11775.125172,1.447596
4,Austria,Burgenland,SÃ¼dburgenland,AT,AT11,AT113,97985,67.0,30239.0,30.860846,...,0.0,0,2.151366,2.412818,9.107134,9.802083,0.940495,62.468139,11758.273024,1.877442
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1466,United Kingdom,Northern Ireland,Causeway Coast and Glens,UK,UKN0,UKN12,145286,73.0,34646.0,23.846757,...,1.0,1,1.467555,5.260761,8.876803,8.998803,0.954414,109.720370,8835.869048,2.323968
1467,United Kingdom,Northern Ireland,Antrim and Newtownabbey,UK,UKN0,UKN13,143664,198.0,31598.0,21.994376,...,1.0,1,1.467555,4.480453,9.042322,23.145833,0.961360,85.517360,8908.740962,1.794279
1468,United Kingdom,Northern Ireland,Lisburn and Castlereagh,UK,UKN0,UKN14,145856,288.0,33225.0,22.779317,...,1.0,1,1.467555,4.815490,8.898968,25.309896,0.969130,79.688079,8935.650675,2.056716
1469,United Kingdom,Northern Ireland,Mid and East Antrim,UK,UKN0,UKN15,139867,134.0,34601.0,24.738502,...,1.0,1,1.467555,5.324285,8.642288,13.358796,0.942485,92.498278,8848.130693,2.375605
1470,United Kingdom,Northern Ireland,Fermanagh and Omagh,UK,UKN0,UKN16,117763,39.0,26595.0,22.583494,...,1.0,1,1.294444,3.962490,9.120348,6.865278,0.975407,118.027034,8939.303797,2.578789

# Export the dataset