In [17]:
import pandas as pd

In [32]:
d = pd.read_excel('France_total.xlsx')
d = d[d['Libellé'].str.contains('Ensemble des 15 à 24 ans')]
d.head(3)

C:\Users\mhachaichi\Miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Libellé,idBank,Dernière mise à jour,Période,1982,1983,1984,1985,1986,1987,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
5,Taux de chômage au sens du BIT (moyenne annuel...,1787750,30/08/2016 00:00,NaN,(O),(O),(O),(O),(O),(O),...,(O),(O),(O),52.3,51.4,(O),(O),(O),(O),(O)
117,Taux de chômage localisés (moyenne annuelle) -...,1785029,03/06/2021 17:48,NaN,(O),(O),(O),(O),(O),(O),...,15.9,17.5,17.5,17.0,18.5,19.0,17.1,15.6,14.9,16.3
118,Taux de chômage localisés (moyenne annuelle) -...,1785030,03/06/2021 17:48,NaN,(O),(O),(O),(O),(O),(O),...,34.9,37.5,37.4,35.6,36.0,36.7,33.6,31.4,29.4,29.3

In [33]:
d['region'] = d['Libellé'].apply(lambda x: x.split('-')[-1].strip())

In [37]:
d = d[['region', '2019', "2020"]]

In [38]:
import pandas as pd
import string
import xlsxwriter

In [39]:
with pd.ExcelWriter ('test.xlsx') as writer:
                d.to_excel(writer, sheet_name = 'sheet1',engine='xlsxwriter')

In [12]:
d[['region', 41, 42]].to_csv('France.xlsx')