In [1]:
import pandas as pd 
import os

In [6]:
files =  [file for file in os.listdir() if file.endswith('.xlsx')]

df = []

for file in files:
    read = pd.read_excel(file)
    df.append(read)

In [53]:
ds = (pd.concat([pd.concat(df, axis =1).filter(like = '2019').mean(axis = 1), pd.concat(df, axis =1).filter(like = '2020').mean(axis = 1), pd.concat(df, axis =1).filter(like = '2021').mean(axis = 1)], axis =1) * 100)
ds = pd.concat([df[0].iloc[:,0], ds], axis =1)
ds.columns = ['name', '2019', '2020', '2021']
ds

               name      2019      2020      2021
0             Riket  2.933503  2.863263  5.308384
1    Stockholms län  2.729122  2.762363  5.066202
2          Botkyrka  4.367822  4.573574  8.519126
3          Danderyd  1.564373  1.560236  2.849752
4             Ekerö  1.594291  1.546040  2.827287
..              ...       ...       ...       ...
307          Pajala  2.432498  1.954271  3.666166
308           Piteå  2.123835  2.027031  3.834613
309         Älvsbyn  2.890517  2.925500  5.476334
310       Överkalix  2.329048  2.359488  4.454060
311      Övertorneå  2.770683  2.363096  4.593019

[312 rows x 4 columns]

In [55]:
ds.to_excel('SE-totale.xlsx', index = False)