In [1]:
import pandas as pd
import geopandas as gpd

## Unemployment

In [10]:
unem_base = pd.read_excel('Unemployment/Unemployment rates.xls', skiprows = 11)
unem_base['NUTS_ID'] = unem_base['GEO/TIME'].apply(lambda x: x.split('-')[0].strip()) 
unem_base = unem_base[['NUTS_ID', '2019', '2020']]
unem_base

       NUTS_ID  2019  2020
0    EU27_2020   6.7   7.1
1         EU28   6.3   6.3
2         EU15   6.9   6.9
3         EA19   7.6   7.9
4           BE   5.4   5.6
..         ...   ...   ...
495       TRB2  25.7  23.6
496        TRC  22.3  20.6
497       TRC1  15.2  13.0
498       TRC2  23.2  20.0
499       TRC3  30.8  33.4

[500 rows x 3 columns]

In [2]:
# read the shape files 
lau = gpd.read_file('01_GIS/02_LAU/LAU_RG_01M_2020_3035.shp')
shape = gpd.read_file('01_GIS/01_Full file/NUTS_COVID.shp')

In [22]:
unm = gpd.GeoDataFrame(pd.merge(unem_base, shape, on ='NUTS_ID'))

In [34]:
unm = unm.query('LEVL_CODE == 2')
unm = unm[~(unm['NUTS_ID'].str.contains('FRY'))]

In [38]:
unm = unm[~(unm['NUTS_ID'].str.contains('ES7'))]

In [40]:
unm.to_file('../F-dataset/Unemployment.shp')